<div class="container-input">
  <div>
    <label for="test" class="text-sm font-medium text-gray-700 mb-1 block">{{
      label
    }}</label>
    <input
      [id]="id"
      [type]="mode"
      [readOnly]="readOnly"
      [disabled]="disabled"
      class="input"
      [formControl]="control"
      [placeholder]="placeholder"
      (change)="onChange()"
      (keyup)="onKeyup()"
      (keydown)="onKeydown()"
      (input)="onInput()"
      [class.input-has-error]="hasError"
      [mask]="mask" />
  </div>
  @if (hasError) {
    <div class="input-container-error-message">
      <p class="input-error-message">{{ errorMessage }}</p>
    </div>
  }
</div>
