<section class="login-container">
  <form
    class="card-login"
    method="post"
    [formGroup]="form"
    autocomplete="off"
    (ngSubmit)="onSubmit()">
    <div>
      <app-input
        id="email"
        formControlName="email"
        label="Email"
        placeholder="exemplo@gmail.com">
      </app-input>
    </div>
    <div>
      <app-input
        id="password"
        formControlName="password"
        label="Senha"
        placeholder="******">
      </app-input>
    </div>
    <div class="w-full">
      <app-button
        type="submit"
        label="Entrar"
        [isLoading]="false"
        (clickEvent)="onSubmit()"></app-button>
    </div>
  </form>
  <button (click)="onSubmit()">test</button>
</section>
