<section class="login-container">
  <div class="card-login-container">
    <form
      class="card-login"
      method="post"
      [formGroup]="form"
      autocomplete="off"
      (ngSubmit)="onSubmit()">
      <h1 class="card-login-title">{{ 'TITLE' | translate }}</h1>
      <app-input
        id="email"
        label="Email"
        mode="text"
        placeholder="exemplo@gmail.com"
        [disabled]="true"
        [control]="getControl('email')">
      </app-input>
      <app-input
        id="password"
        label="Senha"
        mode="password"
        placeholder="******"
        [control]="getControl('password')">
      </app-input>

      <app-button
        mode="submit"
        label="Entrar"
        variant="primary"
        [isLoading]="dataSource.isLoading | async"></app-button>
    </form>
  </div>
</section>
